/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Sign In Page styling goes here */
.left_sidPane{
	-fx-background-color: #3333ff;
}

.SigInPageTextBtn{
	-fx-border-width:0px 0px 1px 0px;	
	-fx-border-color: black;
	-fx-background-color: none;
}


.SignInUpCenterbtn{
	-fx-padding: 0px 5px;
	-fx-background-color: #3333ff;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-border-width:1px;	
	
}

.SignInUpCenterbtn:hover {
    -fx-background-color: #9999ff;
    -fx-text-fill: #ffffff;
}


.SidePaneBtn{
	-fx-padding: 0px 5px;
	-fx-background-color: #3333ff;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-border-width:1px;	
	-fx-border-width:1px;	
	-fx-border-style: solid;
	-fx-text-fill: #ffffff;
	-fx-border-color: #00004d;
}

.SidePaneBtn:hover{
	-fx-background-color: #9999ff;
    -fx-text-fill: #ffffff;
    -fx-background-color: #00004d;
    -fx-text-fill: #ffffff;
    -fx-border-width:1px;	
	-fx-border-style: solid;
	-fx-border-color: #00008c;
}

.SidebarActiveBtn{
	-fx-background-color: #00008c; 
}


/* Manager Panel Page styling goes Here */

.MiddlePageColor{
	-fx-background-color: #e6e6ff;
}

.CenterboxCard{
	-fx-background-color: #fff;
}


.addSymbolbtn{
	-fx-padding: 0px 5px;
	-fx-background-color: #3333ff;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-border-width:1px;	
	
}
.addSymbolbtn:hover{
	-fx-background-color: #00008c;
}



.Sidebar-btnnotActive{
	-fx-background-color: none;
	-fx-text-fill: black;
	-fx-border-width:0px;	
	-fx-text-fill: #fff;
}
.Sidebar-btnnotActive:hover {
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-style: solid;
	-fx-border-color: #00008c;
}



/*Here goes the project not  */
.Projectslider{
	-fx-text-fill: #fff;
	
}


.combo-box .list-cell 
{
	-fx-alignment: 'center';
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-padding: 0px 0.0px 0px 30px;
    
}

.combo-box-popup .list-view 
{
    -fx-background-color: blue;
}    

.combo-box-popup .list-view .list-cell 
{
   -fx-background-color: white;
   -fx-text-fill:black;
   -fx-padding: 10px 0px;
}

.combo-box-popup .list-view .list-cell:hover{
	-fx-background-color: #9c9cff;
	-fx-text-fill: #fff;
}

.combo-box-popup .list-view .list-cell:filled:selected
{
    -fx-background-color: #000054;
    -fx-text-fill: #fff;
}


/*Project Page button */
.Inputs{
	-fx-border-width:0px 0px 1px 0px;	
	-fx-border-color: black;
	-fx-background-color: none;
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; 
    -fx-background-color: derive(#8a8aff,30%), 
        linear-gradient(to bottom, derive(#8a8aff,-3%), 
                                   derive(#8a8aff,5%) 50%, 
                                   derive(#8a8aff,-3%));
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.Addbtn{
	-fx-padding: 0px 5px;
	-fx-background-color: #3333ff;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-border-width:1px;	
	
}
.Addbtn:hover{
	-fx-background-color: #00008c;
}











